// Author: Rishabh Joshi 
// Original Repo: https://github.com/rishabhjoshi/jade-resume
// LICENSE: GNU GPL v3

doctype html
html(lang="en")
    head
        title= 'Rishabh Joshi'
        link(href="includes/css/style.css", rel="stylesheet")
        // Link to the corresponding fonts
        // Font: Raleway | https://github.com/mrkelly/lato.git
        link(href="includes/fonts/raleway/raleway.css" rel="stylesheet")
        // Font: Lato | https://github.com/softwaymedical/raleway.git
        link(href="includes/fonts/lato/css/lato.min.css" rel="stylesheet")
    body
        #update-status
            p.
                Last updated on November 7, 2016
        // Things above the horizontal rule
        .heading
            h1 #[span #{firstName}] #{lastName}
            h3 #[a(href="http://rishabhjoshi.github.io") rishabhjoshi.github.io] 
            h3 #[a(href="mailto:f2014102@pilani.bits-pilani.ac.in") +91-982-862-1109 | f2014102@pilani.bits-pilani.ac.in]
        hr
        .content
            ////////////////////////
            // Left Column begins //
            ////////////////////////
            .left-column
                ///////// Begin Section: Education /////////
                h1 Education
                // Begin Subsection
                h2 #[a(href="http://www.bits-pilani.ac.in/Pilani/index.aspx") BITS Pilani] 
                h3 B.E. (Hons.) Computer Science
                h4 Expected Aug 2018 | Pilani, India
                // Space between two subsections
                //br
                // Begin Subsection
                p.lead Cum. GPA: 9.27 / 10 
                br
                // Begin Subsection
                h2 AISSCE (CLASS XII)
                h3 Mother's International School
                h4 Grad. May 2014 | New Delhi, India
                p.lead Score: 478 / 500

                br

                h2 AISSE (CLASS X)
                h3 Mother's International School
                h4 Grad. May 2012 | New Delhi, India
                p.lead GPA: 10 / 10
                ///////// Begin Section: Links /////////
                h1 Links
                // List follows
                ul.nostyle
                    - for (var i = 0; i < links.length; i++)
                        li #{links[i][0]}://#[a(href="#{links[i][1]}") #{links[i][2]}]
                
                ///////// Begin Section: Coursework /////////
                h1 Coursework
                // Begin Subsection
                //h2 Undergraduate
                - for (var i = 0; i < undergradCourses.length; i++)
                    p= undergradCourses[i]

                ///////// Begin Section: Skills /////////
                h1 Skills
                // Begin Subsection
                h2 Programming
                // Use no-overlap if inline list overlaps with any element
                // above it
                h4.no-overlap Over 3000 lines
                // Note: Use span with li elements so the bullets can be closer
                //       than the browser default value. Refer:
                //       http://stackoverflow.com/questions/4373046/css-control-space-between-bullet-and-li
                ul.inline
                    - for (var i = 0; i < languagesStrong.length; i++)
                        li
                            span= languagesStrong[i]
                
                .clearfix
                
                h4.no-overlap Familiar
                ul.inline
                    - for (var i = 0; i < languagesFamiliar.length; i++)
                        li
                            span= languagesFamiliar[i]

                .clearfix 

                h2.no-overlap Data Analytics
                ul.inline
                    - for (var i = 0; i < dataAnalytics.length; i++)
                        li
                            span= dataAnalytics[i]

            ////////////////////////
            /// Left Column ends ///
            ////////////////////////
            // Right Column Begins//
            ////////////////////////
            .right-column
                ///////// Begin Section: Experience /////////
                h1 Experience
                // Begin Subsection
                h2 ISRO | #[span Summer Research Intern]
                h3 May 2016 - July 2016 | Dehradun, India
                ul
                    li Developed the DataCube for Uttrakhand using GeoSpatial Technologies for #[a(href="http://iirs.gov.in/") IIRS]
                    li Analytical framework provides effective storage, retrieval and analysis of GBs of satellite data
                    li Determined best GIS image storage formats for storing GBs of image data

                    li Developed the core API and Execution engines of the DataCube
                    li Created algorithm templates to obtain products from Satellite data on the web portal

                        
                // Begin Subsection
                // Begin Subsection
                ///////// Begin Section: Research /////////
                h1 Major Projects 
                // Begin Subsection
                h2 BITS LifeGuard | #[span Mentor: #[a(href="http://www.bits-pilani.ac.in/pilani/rahulbanerjee/profile") Dr. Rahul Banerjee] | HOD CSE, BITS Pilani]
                h3 Oct 2015 - Present | Research Assistant
                ul
                    li Devoloping a fault-tolerant, cost-effective smart driver safety jacket with real time monitoring of vital signs, to prevent road accidents and taking emergency action in the unlikely case an accident occurs
                    li Developed Bluetooth Authentication and intercommunication techniques for low computing capability sensor nodes
                    li Currently working on sensor fusion for #[a(href="http://www.bits-pilani.ac.in/pilani/ProjectBITSLifeGuard/Home") LifeGuard]

                br
                // Begin Subsection
                h2 Wearables sensor fusion | #[span Mentor: Dr. Rahul Banerjee]
                h3 August 2016 - Present | Study Project
                ul
                    li Working on Adaptive learning aspects of Body Sensor Networks and sensor data fusion
                    li Finding and implementing accurate Sensor Fusion algorithms to classify driver stress using physiological sensors 
                    li Measuring the accuracy of the models created on various public driving datasets
                
                
                // Begin Subsection
                h2 e-Yantra | #[span IIT-Bombay | MHRD, Govt. of India]
                h3 18th March 2016 - 19th March 2016
                ul
                    li Represented BITS Pilani and came 2<sup> nd</sup> out of 57 teams from all over India in the finals of #[a(href="http://www.e-yantra.org/") e-Yantra], a robotics competition
                    li Coded the Firebird-5 bot over a span of 3 months to solve the problem statement of a Hotel Room Service scenario

                ///////// Begin Section: Mini Projects //////////
                h1 Mini Projects
                h2 PSO optimized K-Means 
                ul
                    li Studied and implemented Particle Swarm Optimization and Ant Colony Optimization techniques to improve Clustering performance of K-Means
                h2 Heading generation using speech phonetics
                ul
                    li Created web crawler to collect speech audio data and generated a summary and its heading by using phonetics and tone of the speaker
                    
                ///////// Begin Section: Awards /////////
                h1 Achievements 
                table(cellspacing="0", cellpadding="0")
                    tbody
                        - for (var i = 0; i < table.length; i++)
                            tr
                                - for (var j = 0; j < table[i].length; j++)
                                    td!= table[i][j]

                ///////// Begin Section: Publications /////////
//                h1 Publications
                ol.publications-list
                    li.
                        #[a(href="#") A. Jain], #[a(href="#") D.Das] and #[a(href="#") A.Saxena]. Planit: A crowdsourcing approach
                        for learning to plan paths from large scale preference
                        feedback. #[span.italic Tech Report, ICRA, in press]
                    li.
                        S. TIlsen, D.Das, and B.McKee. Real-time articulatory
                        biofeedback with electromagnetic articulography.
                        #[span.italic Linguistics Vanguard, in press.]
                ////////////////////////
                /// Right Column Ends //
                ////////////////////////
